@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginProject.Common.Entities.RememberPasswordVm

@{
    Layout = "_Layout";
}

<style>
.msg{
  padding: 0px;
}


.err{
    color:red;
}
</style>

<form asp-action="RememberPassword" method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" asp-for="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                    </div>
                    <div class="msg">
                        <span class="err" asp-validation-for="Email"></span>
                    </div>

                    @if (TempData["msg"] != null)
                    {
                        <div class="msg">@TempData["msg"]</div>
                    }

                    <button type="submit" class="btn btn-success">Przypomnij hasło</button>
                </div>
            </div>
        </div>
    </div>
</form>
